/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #121212;
  height: 100%;
  margin: 0;
  font-family: 'Arial', sans-serif;
}
header {
  background: #282828;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #42a5eb;
  text-decoration: none;
}
.pages{
  padding: 20px;
}

/* navbar */
nav {
  display: flex;
  align-items: center;
}
nav a, nav button {
  margin-left: 10px;
  color: white;
}
nav button {
  background: #121212;
  color: white;
  border: 2px solid white;
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
}

/* auth forms */
form.signup, form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #282828;
  border-radius: 4px;
}

/* chat app */
.chatapp {
  display: flex;
  column-gap: 10px;
  height: 95.65vh;
}

.hidden {
  display: none;
}

.chat-info {
  color: white;
  width: 25%;
  padding: 20px;
  background-color: #282828;
  border-radius: 10px;
}

.user-list {
  width: 20%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #121212;
  padding: 20px;
  position: relative;
  overflow-y: auto;
  background-color: #282828;
  border-radius: 10px;
}

.user-list::-webkit-scrollbar {
  display: none;
}

.user-list ul {
  list-style-type: none;
  padding: 0;
}

.user-list li {
  padding: 20px;
  cursor: pointer;
  color: white;
}

.user-list li:hover {
  background-color: #3f3f3f;
}

.no-user {
  text-align: center;
  align-self: center;
  margin: auto;
  color: #717171;
}

.search-input {
  padding: 10px;
  border: 1px solid #121212;
  width: 95%;
  border-radius: 4px;
  color: white;
  background-color: #282828;
  border-radius: 50px;
}

.search-overlay {
  position: absolute;
  top: 10%; /* Below the search input */
  left: 0;
  right: 0;
  background: #282828;
  border: 1px solid #121212;
  border-radius: 4px;
  max-height: 150px;
  overflow-y: auto;
  z-index: 30;
}

.chat-window {
  background-color: #282828;
  flex: 1;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.message-window {
  display:  flex;
  flex-direction: column;
  height: 100%;
}

.no-chat {
  text-align: center;
  align-self: center;
  margin: auto;
  color: #717171;
}

.chat-messages {
  flex: 1;
  /* max-height: 75vh; */
  /* justify-content: flex-end; */
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100px; */
}

.message-input-btn {
  padding: 12px;
  margin: 10px;
  background-color: #61afed; /* Primary color */
  border: none;
  border-radius: 50%; /* Circular button */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth hover effect */
}

.message-input-btn:hover {
  background-color: #4a9bd9; /* Darker shade on hover */
  transform: scale(1.1); /* Slight zoom-in effect */
}

.message-input-btn:active {
  transform: scale(1); /* Reset zoom on click */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Slightly deeper shadow */
}


.message-input {
  flex-grow: 1;
  height: 20px;
  padding: 12px;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 50px;
}

.audio-visualizer {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px 15px; 
  margin: 10px;
  border-radius: 50px;
  background-color: #61afed;
}

.canvas-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.visualizer {
  flex-grow: 1;
  width: 100%;
}

@media (max-width: 1600px) {
  .chat-window {
    width: 700px;
  }
}

@media (max-width: 1250px) {
  .chat-window {
    width: 500px;
  }
}

@media (max-width: 1000px) {
  .chat-window {
    width: 400px;
  }
}

@media (max-width: 850px) {
  .hide-chat-window {
    display: none;
  }

  .chat-info {
    flex: 1;
  }
}

@media (max-width: 650px) {

  .hide-user-list {
    display: none;
  }

  .hide-chat-window {
    display: none;
  }

  .chat-window {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
  }

  .user-list {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
  }

  .input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100px; */
  }
  
  .message-input-btn {
    height: 35px;
    width: 35px;
    padding: 5px;
    margin: 5px;
    background-color: #61afed; /* Primary color */
    border: none;
    border-radius: 50%; /* Circular button */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth hover effect */
  }
  
  .message-input-btn:hover {
    background-color: #4a9bd9; /* Darker shade on hover */
    transform: scale(1.1); /* Slight zoom-in effect */
  }
  
  .message-input-btn:active {
    transform: scale(1); /* Reset zoom on click */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Slightly deeper shadow */
  }
  
  
  .message-input {
    /* padding: 12px; */
    border: 1px solid #ddd;
    border-radius: 50px;
    height: 10px;
    width: 100px;
  }
}
