.msg-container {
    width: fit-content; /* Ensures the container adjusts to the width of its content */
    max-width: 60%; /* Set a max width for the message bubble */
    background-color: #1aac83; /* Background color for the message */
    color: #fff; /* Text color */
    padding: 5px 15px; /* Padding inside the bubble */
    margin: 5px 0; /* Spacing between messages */
    border-radius: 15px; /* Rounded corners */
    word-wrap: break-word; /* Ensures long words wrap within the container */
    white-space: pre-wrap; /* Ensures line breaks and spaces in the content are respected */
}

.msg-container.pinned-right {
    margin-right: 5px;
    align-self: flex-end; /* Aligns the message to the right */
    background-color: #e0e0e0; /* Different background color for the sender */
    color: #333; /* Text color for the sender */
}