p {
    margin: 0;
}

.user-card {
    display: flex;
    align-items: center;
    gap: 10px;
    overflow: hidden; /* Prevent children from overflowing */
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.username {
    font-size: 16px;
    font-weight: bold;
}

.with-last-message {
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow: hidden; /* Constrain the flex column to avoid overflow */
    width: 100%; /* Make sure it doesn’t exceed the .user-card container */
}

.last-message {
    color: #717171;
    font-size: 14px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis; /* Add ellipsis for overflowing text */
    white-space: nowrap; /* Prevent text wrapping */
    max-width: 100%; /* Constrain the text to the parent width */
}

.last-message-unread {
    font-weight: bold;
    font-size: 12px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis; /* Add ellipsis for overflowing text */
    white-space: nowrap; /* Prevent text wrapping */
    max-width: 100%; /* Constrain the text to the parent width */
}

.message-with-time {
    display: flex;
    gap: 5px;
}

.message-time {
    color: #717171;
    font-size: 12px;
}

.unread-dot {
    width: 10px;
    height: 10px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: white;
}

.profile-container {
    position: relative;
    display: inline-block;
}


.active-status {
    position: absolute;
    bottom: 5px; /* Adjust distance from the bottom */
    right: 0px; /* Adjust distance from the right */
    width: 10px; /* Adjust size of the dot */
    height: 10px; /* Adjust size of the dot */
    background-color: #00ff00; /* Green color */
    border: 2px solid white; /* Optional: border to create separation */
    border-radius: 50%;
    z-index: 1;
}

.offline-status {
    position: absolute;
    padding: 2px;
    bottom: 5px; /* Adjust distance from the bottom */
    right: 0px; /* Adjust distance from the right */
    border-radius: 50px;
    z-index: 1;
    color: black;
    font-size: 12px;
    background-color: #93da93; /* Gray color */
}
