.chat-header {
    padding-bottom: 10px;
    height: 70px;
    width: 100%;
    color: white;
    display: flex;
}
  
.chat-header h2 {
    margin: 0;
}

.header-icon {
    align-self: start;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 50px;
}

.header-icon:hover {
    background-color: #121212;
    transform: scale(1.1);
}

.chat-window-back-icon {
    display: none;
}

.name-image-container {
    display: flex;
    flex: 1;
    gap: 10px;
}

.profile-pic-chat {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.name-status {
    margin-top: -5px;
}

.name-status h2 {
    font-size: 18px;
}

.name-status p {
    font-size: 14px;
    color: #A0A0A0;
    margin: 0;
    padding-top: 5px;
}

@media (max-width: 650px) {
    .chat-window-back-icon {
        display: block;
        align-self: start;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 50px;
    }

    .chat-header {
        font-size: 14px;
    }
}